.create-form {
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
    min-width: 300px;
    max-width: 900px;
    min-height: 450px;
}

.create-form button {
    display: block;
    margin: auto;
    width: 150px;
}

.create-form input {
    margin-top: 2rem;
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
}

.image-wrapper {
    display: flex;
    gap: 5rem;
    justify-content: space-evenly;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.image-wrapper label{
    margin-bottom: 10px !important;
    text-align: start;
    margin-left: 10px;
}

.image-wrapper img {
    width: 350px;
    border-radius: 15px;
    box-shadow: 3px 3px 6px var(--clr-gray);
}

.create-form p {
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    text-align: start;
}

.create-form label{
    margin-top: 0px;
    font-size: 1.8rem;
}

.image-background {
    width: 500px;
    height: 250px;
    background-size: cover;
    background-position: center;
}

.object-fit {
    width: 500px;
    height: 250px;
    object-fit: cover;
}

.create-button{
    margin-top: 20px !important;
}

@media screen and (max-width: 1300px) {
    .image-wrapper {
        gap: 2rem;
        flex-wrap: wrap;
    }
}