.home-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
    height: 100vh;
}

.home-header-title {
    font-size: 2.5rem;
}

.home-header {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
    background-color: var(--clr-blue);
    color: var(--clr-white);
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    border-radius: 30px;
}

.float-right-container {
    display: flex;
    float: end;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.icon {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin-right: .8em;
    position: relative;
}

.home-header-profile {
    display: flex;
    align-items: center;
    padding-right: 40px;
    font-size: 16px;
}

.home-header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.home-header-nav-item {
    display: flex;
    margin-right: 35px;
    border-radius: 20px;
    padding: 12px;
}

.home-header-nav-item a {
    color: var(--clr-white);
    font-size: 2rem;
}

.event-wrapper {
    display: flex;
    gap: 5rem;
    justify-content: space-evenly;
    margin-top: 3rem;
}

@media (max-width: 1020px) {
    .home-header-nav {
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .home-header {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .float-right-container {
        flex-direction: column;
        margin-top: 10px;
    }

    .home-header-nav-item a {
        align-items: center;
    }
}

@media screen and (max-width: 1300px) {
    .event-wrapper {
        gap: 2rem;
        flex-wrap: wrap;
    }
}