.publication-view {
    padding: 20px;
    max-width: 900px;
    background-color: var(--clr-blue-shadow);
    border-radius: 20px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail {
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
    font-size: large;
}

.value {
    margin-left: 10px;
    font-size: medium;
}

.btn-container{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
}

.btn-container button{
    font-size: 2rem;
    padding: auto;
    border: none;
    color: var(--clr-pure-white);
    width: 100%;
    border-radius: 10px;
}

.btn-edit{
    background-color: var(--clr-yellow);
    cursor: pointer;
}

.btn-edit button:hover{
    color: var(--clr-dark-gray);
    cursor: pointer;
}

.btn-delete{
    background-color: var(--clr-error);
    cursor: pointer;
}

@media (max-width: 480px){
    .btn-container{
        flex-direction: column;
    }
}