.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.error-page-gif {
    width: 40vw;
}

.error-page-container {
    text-align: center;
}

.error-page-text {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--clr-blue);
}

.error-page-link {
    font-size: 1.2rem;
    color: var(--clr-blue);
    text-decoration: none;
}

.error-page-link:hover {
    text-decoration: underline;
}

.error-page-button {
    margin-top: 30px;
    width: 60%;
    color: var(--clr-black);
    padding: 15px 0;
    font-size: 24px;
    cursor: pointer;
    background-color: var(--clr-blue);
    padding: 0.8rem 2rem;
    border-radius: 12px;
}

.error-page-button:hover {
    color: var(--clr-white);
}