.mini-card-item {
    width: 230px;
    height: 280px;
    border: 2px solid var(--clr-black);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 2rem;
    background-color: white;
}

.card-image-wrapper {
    height: 60%;
    position: relative;
}

.card-title {
    color: white;
    font-size: 1.5rem;

    font-weight: 800;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

    position: absolute;
    bottom: 5rem;
    left: 0;
    right: 0;
    text-align: center;
}

.card-image {
    object-fit: cover;

    filter: brightness(90%);

    width: 100%;
    height: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    border-bottom: 0.5px solid var(--clr-black);
}

/* Button */

.details-button-wrapper {

    z-index: 0;
    top: -2rem;
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    width: 60px;
    margin: 0 auto;

}

.button-shape {
    width: 50px;
    height: 50px;
    background: linear-gradient(200deg, rgba(5,68,101,1) 12%, rgba(0,119,182,1) 100%); border-radius: 50%;

    position: absolute;
}

.button-text {
    font-family: sans-serif;
    display: block;

    font-size: 2.5rem;
    
    margin: 0 auto;
    text-align: center;

    text-decoration: none;
    z-index: 1;

    color: var(--clr-white);
}

.card-info {
    color: var(--clr-black);

    position: relative;
    /* top: -3rem; */

    display: flex;
    justify-content: center;

}

.card-info-item {
    width: 120px;

    display: inline-flex;
    flex-direction: column;
    align-items: center;

}

.card-info-item i {
    font-size: 1.5rem;
}

.card-info-value {
    font-weight: bold;
    font-size: 2rem;

    margin-top: 0.5rem;
}
